* {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}

.demo {

}

.demo-overview {
  background: #f5f2f0;
  padding: 80px 0;
}

.demo-overview h1 {
  font-size: 3.8rem;
  font-weight: 400;
}

.demo-overview p {
  font-size: 1.6rem;
}

.demo-container {
  max-width: 960px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.demo-placeholder {
  margin-bottom: 1.6rem;
}

.demo-placeholder-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.demo-placeholder-button > div {
  margin-right: 12px;
}

.demo-table {
  border-spacing: 1.4em;
  width: 100%;
  background: #f5f2f0;
  border-radius: 4px;
}

.demo-table td:first-child {
  font-weight: 500;
}

.demo-section {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
}

.demo-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.demo-subtitle {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.demo-content {
  display: flex;
  flex-direction: column;
}

.demo-button {
  display: inline-block;
  padding: 0.6em 1.4em;
  text-transform: uppercase;
  align-self: center;
  font-weight: 500;
  border-radius: 4px;
  color: #fff;
  background: #3f51b5;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border: none;
  outline: none;
  transition: transform .2s;
  margin: .2rem 0 2rem;
}

.demo-button:hover {
  transform: translateY(-2px);
}

.demo-text {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.demo-text:last-child {
  margin-bottom: 0;
}

.demo-widget {
  border-radius: 4px;
  min-height: 100px;
}

pre {
  margin-bottom: 2rem;
  background: #212121;
  color: #fff;
  border-radius: 4px;
  padding: 1.4rem;
}

:not(pre) > code[class*=language-] {
  font-size: 1rem;
  padding: .4em .6em !important;
}

pre[class*=language-] {
  margin: 0 0 1.6rem !important;
  padding: 1.4rem !important;
  border-radius: 4px;
}
